<div class="col-md-12" ng-controller="FrameCtrl">
    <form class="form-horizontal" role="form">
        <h1>Create Frame</h1>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <div>
                <input type="input" required class="form-control" id="name" placeholder="Name" ng-model="frame.name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div>
                <textarea class="form-control" id="description" placeholder="Description" ng-model="frame.description"></textarea>
            </div>
        </div>
        <div class="form-group" ng-repeat="frameModule in frame.modules">
            <label class="control-label" for="module">Module</label>
            <div>
                <select class="form-control" id="module" ng-model="frameModule.id" ng-controller="ModulesCtrl">
                    <option ng-repeat="module in modules" value="{{module.id}}">
                        {{module.name}}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-info" ng-click="addModule()">Add Module</button>
            <button type="submit" class="btn btn-success" ng-click="save()">Create Frame</button>
        </div>
    </form>
</div>