<div class="col-md-12" ng-controller="UtilityCtrl">
    <form class="form-horizontal" role="form">
        <h1>Create Utility</h1>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <div>
                <input type="input" required class="form-control" id="name" placeholder="Name" ng-model="utility.name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div>
                <textarea class="form-control" id="description" placeholder="Description" ng-model="utility.description"></textarea>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success" ng-click="save()">Create Utility</button>
        </div>
    </form>
</div>