<div class="col-md-12" ng-controller="WeaponCtrl">
    <form class="form-horizontal" role="form">
        <h1>Create Weapon</h1>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <div>
                <input type="input" required class="form-control" id="name" placeholder="Name" ng-model="weapon.name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div>
                <textarea class="form-control" id="description" placeholder="Description" ng-model="weapon.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="die">Die</label>
            <div>
                <input type="input" required class="form-control" id="die" placeholder="Die (e.g.: 3H2)" ng-model="weapon.die">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Range</label>
            <div>
                <input type="input" required class="form-control" id="range" placeholder="Range" ng-model="weapon.range">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success" ng-click="save()">Create Weapon</button>
        </div>
    </form>
</div>