<div class="row chatbox" ng-controller="ChatCtrl" ng-draggable>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> Chat
            </div>
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix" ng-repeat="message in messages">
                        <div class="chat-body clearfix">
                            <p><strong style="color:#{{message.color}};">{{message.username}}</strong> : {{message.text}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="message.text" ng-enter="send()" />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="send()">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>