<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">MechHatton</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Database <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/database/effects" ng-controller="EffectsCtrl">Effects ({{effectsService.effects.length}})</a></li>
                <li class="divider"></li>
                <li><a href="#/database/frames" ng-controller="FramesCtrl">Frames ({{frames.length}})</a></li>
                <li class="divider"></li>
                <li><a href="#/database/modules" ng-controller="ModulesCtrl">Modules ({{modules.length}})</a></li>
                <li class="divider"></li>
                <li><a href="#/database/players" ng-controller="PlayersCtrl">Players ({{players.length}})</a></li>
                <li class="divider"></li>
                <li><a href="#/database/utilities" ng-controller="UtilitiesCtrl">Utilities ({{utilities.length}})</a></li>
                <li class="divider"></li>
                <li><a href="#/database/weapons" ng-controller="WeaponsCtrl">Weapons ({{weapons.length}})</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="dropdown" ng-controller="OnlinePlayersCtrl">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Players Online (0) <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-repeat="player in players"><a href="">{{player.username}}</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/create/effect">Effect</a></li>
                <li class="divider"></li>
                <li><a href="#/create/frame">Frame</a></li>
                <li class="divider"></li>
                <li><a href="#/create/module">Module</a></li>
                <li class="divider"></li>
                <li><a href="#/create/utility">Utility</a></li>
                <li class="divider"></li>
                <li><a href="#/create/weapon">Weapon</a></li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-controller="AccountCtrl">
        <li ng-if="!getUsername()"><a href="#/accounts/signin">Sign In</a></li>
        <li ng-if="!getUsername()"><a href="#/accounts/signup">Sign Up</a></li>

        <li class="dropdown" ng-if="getUsername()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{getUsername()}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/accounts/current">My Profile</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="signout()">Sign Out</a></li>
            </ul>
        </li>

        <li><a></a></li>
    </ul>
</nav>