#accountform {
    text-align: center;
}

#accountform form {
    display: inline-block;
    width: 500px;
    border: 1px solid #bbbbbb;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}