<h3>MechHatton productions presents:</h3>
<h1>BATTLE FRAMES</h1>

<p>BATTLE FRAMES is the best turn based arena style Mecha battale game on the web! More than 4 monthly active users have already done deadly battle in this emmersive, action packed game.</p>
<p>Choose your empire from three powerful factions, choose your frame, purchase your weapons and equipment, and seek glory for nation, and fame for your self in the arena.</p>

