<table class="table-responsive col-lg-4" ng-controller="EffectsCtrl">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="effect in effectsService.effects">
            <td><a href="#/database/effects/{{effect.id}}">{{effect.name}}</a></td>
        </tr>
    </tbody>
</table>