<table class="table-responsive col-lg-4" ng-controller="FramesCtrl">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="frame in frames">
        <td><a href="#/database/frames/{{frame.id}}">{{frame.name}}</a></td>
    </tr>
    </tbody>
</table>