<table class="table-responsive col-lg-4" ng-controller="ModulesCtrl">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="module in modules">
        <td><a href="#/database/modules/{{module.id}}">{{module.name}}</a></td>
    </tr>
    </tbody>
</table>