<table class="table-responsive col-lg-4" ng-controller="PlayersCtrl">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players">
        <td><a href="#/database/players/{{player.id}}">{{player.username}}</a></td>
    </tr>
    </tbody>
</table>