<table class="table-responsive col-lg-4" ng-controller="UtilitiesCtrl">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="utility in utilities">
        <td><a href="#/database/utilities/{{utility.id}}">{{utility.name}}</a></td>
    </tr>
    </tbody>
</table>