<table class="table-responsive col-lg-4" ng-controller="WeaponsCtrl">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="weapon in weapons">
        <td><a href="#/database/weapons/{{weapon.id}}">{{weapon.name}}</a></td>
    </tr>
    </tbody>
</table>