<div id="accountform" ng-controller="SignupCtrl">
    <form name="signupForm" class="form-horizontal" role="form">
        <h1>Sign Up!</h1>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="userName">User Name</label>

            <div class="col-sm-8">
                <input type="input" required class="form-control" id="userName" placeholder="User Name" ng-model="username">
            </div>
        </div>
        <br/>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="firstName">First Name</label>

            <div class="col-sm-8">
                <input type="input" required class="form-control" id="firstName" placeholder="First Name" ng-model="firstName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="lastName">Last Name</label>

            <div class="col-sm-8">
                <input type="input" required class="form-control" id="lastName" placeholder="Last Name" ng-model="lastName">
            </div>
        </div>
        <br/>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="email">Email</label>

            <div class="col-sm-8">
                <input type="email" required class="form-control" id="email" placeholder="Email Address" ng-model="email">
            </div>
        </div>
        <br/>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="password1">Password</label>

            <div class="col-sm-8">
                <input type="password" required class="form-control" id="password1" placeholder="Password" ng-model="password1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="password2">Password</label>

            <div class="col-sm-8">
                <input type="password" required class="form-control" id="password2" placeholder="Repeat Password" ng-model="password2" password-check="password1">
                <div class="msg-block" ng-show="signupForm.$error">
                    <div class="has-error" ng-show="signupForm.$error.passwordsMatch">
                        Passwords don't match.
                    </div>
                    <div class="has-error" ng-show="signupForm.$error.passwordsTooShort">
                        Password must be at least 6 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
            <!--<button type="submit" ng-disabled="true" ng-show="!signupForm.$valid" class="btn btn-default">All Fields Are Required</button>
            <button type="submit" ng-show="signupForm.$valid" class="btn btn-default" ng-click="signup()">Submit</button>-->
            <button type="submit" class="btn btn-default" ng-click="signup()">Submit</button>
        </div>
    </form>
</div>