<div id="accountform" ng-controller="SignInCtrl">
    <form name="signinForm" class="form-horizontal" role="form">
        <h1>Sign In</h1>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="loginName">Email or Username</label>

            <div class="col-sm-8">
                <input type="text" required class="form-control" id="loginName" placeholder="Email Address or Username" ng-model="account.loginName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="password">Password</label>

            <div class="col-sm-8">
                <input type="password" required class="form-control" id="password" placeholder="Password" ng-model="account.password">
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">
            <button type="submit" class="btn btn-success" ng-click="signin()">Sign In</button>
        </div>
    </form>
</div>